@model  IEnumerable<Cliente>

@{
    ViewData["title"] = "Clientes";
}

<div class="container ">

    <div class="d-flex justify-content-between align-items-center mb-5">
        <h1>Clientes</h1>

        <div>
            <button id="cadastrarCliente" class="btn btn-success">
                <i class="glyphicon glyphicon-file"></i>Cadastrar Cliente
            </button>
        </div>
    </div>
</div>

<div id="divCarregando" style="display: flex; justify-content: center;">
    <button class="btn btn-primary" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span class="sr-only">Carregando Clientes...</span>
    </button>
</div>

<div id="gridClientes" style="display:none;">
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modalConteudo" class="modal-body">
            </div>
        </div>
    </div>
</div>
 
@section scripts{
    <script>
        
        this.carregaGridClientes();

        //Abre a tela de cadastro
        $("#cadastrarCliente").click(function () {
            $.ajax({
                type: 'GET',
                url: '/Clientes/Cadastrar',
                success: function (result) {
                    $('#modalConteudo').html(result);
                    $('#exampleModal').modal('show');
                }
            });
        });
               
        function carregaGridClientes() {
            $.ajax({
                url: "/Clientes/CarregaGridClientes",
                type: "GET",
                datatype: "html",
                cache: false,
                async: true,
                success: function (response) {

                    $("#divCarregando").fadeOut('slow');

                    $("#gridClientes").fadeOut('slow');
                    $("#gridClientes").html(response);
                    $("#gridClientes").fadeIn('slow');
                }
            });
        }

        

    </script>
}